<center><font size=+4 color='white'><b>Telco Customer Churn</b></font></center>

## Training Tree Based Models
- XGBoost
- Tree Models

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
##loading dataset
df=pd.read_csv('TelcoChurn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,PromptInput,CustomerFeedback
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Write a realistic customer feedback based on t...,I have been using the DSL internet service fro...
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,No,Write a realistic customer feedback based on t...,I have been a customer with this company for o...
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Write a realistic customer feedback based on t...,I recently signed up for DSL internet service ...
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Write a realistic customer feedback based on t...,I have been a loyal customer with this company...
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Write a realistic customer feedback based on t...,I recently switched to this fiber optic intern...

## Variable data types

In [3]:
##variable data types
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
PromptInput          object
CustomerFeedback     object
dtype: object

## Observation 
Target variable is a categorical data type, So it is a classification problem.

## Shape of the dataset

In [4]:
## shape
df.shape

(7043, 23)

## Missing Values

In [5]:
##missing values
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
PromptInput         0
CustomerFeedback    0
dtype: int64

## Data Imbalance check

In [6]:
##Imbalance check
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

## Observation
High class imbalance in dataset.

In [7]:
## Duplicate check
df.duplicated().value_counts()

False    7043
Name: count, dtype: int64

<center><font size=+4 color='white'><b> Univariate Analysis</b></font></center>

## Required columns

In [8]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,PromptInput,CustomerFeedback
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Write a realistic customer feedback based on t...,I have been using the DSL internet service fro...

In [9]:
##Required columns
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'PromptInput', 'CustomerFeedback'],
      dtype='object')

In [10]:
##new columns
col=['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges','CustomerFeedback', 'Churn']
df_train=df[col]

In [11]:
##displaying all the columns and values
pd.set_option('display.max_columns',None)
df_train.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,CustomerFeedback,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,I have been using the DSL internet service fro...,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,I have been a customer with this company for o...,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,I recently signed up for DSL internet service ...,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,I have been a loyal customer with this company...,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,I recently switched to this fiber optic intern...,Yes

In [12]:
## Descriptive stats for numerical feature
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [13]:
##Descriptive stats for categorical feature
df_train.describe(include='object')

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,CustomerFeedback,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6539,7043,2
top,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,,I have been using the DSL internet service fro...,No
freq,3555,3641,4933,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,11,1,5174

In [14]:
##only categorical feature
cat_cols=[feat for feat in df_train.columns if df_train[feat].dtype=='object']
cat_cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'TotalCharges',
 'CustomerFeedback',
 'Churn']

In [15]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  CustomerFeedback  7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [16]:
##checking other feature has the same issues
df_train[cat_cols].head(2)

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,CustomerFeedback,Churn
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,I have been using the DSL internet service fro...,No
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,I have been a customer with this company for o...,No

In [17]:
##checking the unique values of the categorical feature
dfc=df_train.copy()
for i in cat_cols:
    if i!='CustomerFeedback':
        print(dfc[i].value_counts())
        print('='*30,end='\n')

gender
Male      3555
Female    3488
Name: count, dtype: int64
==============================
Partner
No     3641
Yes    3402
Name: count, dtype: int64
==============================
Dependents
No     4933
Yes    2110
Name: count, dtype: int64
==============================
PhoneService
Yes    6361
No      682
Name: count, dtype: int64
==============================
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
==============================
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64
==============================
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
==============================
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
==============================
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
==============================
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
==============================
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
==============================
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
==============================
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64
==============================
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64
==============================
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64
==============================
TotalCharges
           11
20.2       11
19.75       9
20.05       8
19.9        8
           ..
418.3       1
4238.45     1
5886.85     1
5769.6      1
909.25      1
Name: count, Length: 6539, dtype: int64
==============================
Churn
No     5174
Yes    1869
Name: count, dtype: int64
==============================

In [18]:
#head of dataframe
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  CustomerFeedback  7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [19]:
##Alternative of type casting
dfc['TotalCharges']=pd.to_numeric(dfc['TotalCharges'], errors='coerce')

In [20]:
##checking null values
dfc.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
CustomerFeedback     0
Churn                0
dtype: int64

## Missing value imputation

In [21]:
dfc['TotalCharges'].describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

In [22]:
##impute missing value
dfc['TotalCharges'].fillna(dfc['TotalCharges'].median(),inplace=True)

In [23]:
dfc.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
CustomerFeedback    0
Churn               0
dtype: int64

In [24]:
##training data
df_copy=df.copy()
train_df=df_copy.drop(columns=['customerID','PromptInput','CustomerFeedback'])
train_df['TotalCharges']=train_df['TotalCharges'].replace({' ':np.nan}).astype(float)

In [25]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [26]:
##clean the missing value
train_df.fillna(train_df['TotalCharges'].median(),inplace=True)

In [27]:
train_df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [28]:
##replace churn values
train_df['Churn'].replace({'Yes':1,'No':0},inplace=True)

In [29]:
## Data partition 
X_train_df=train_df.drop('Churn',axis=1)
y_train_df=train_df['Churn']

# Training Data

In [30]:
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.ensemble import VotingClassifier,StackingClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix, recall_score,precision_score,f1_score,roc_auc_score
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [31]:
##Train test spliting
X_train,X_test,y_train,y_test=train_test_split(X_train_df,y_train_df, test_size=0.2,random_state=42)

In [32]:
y_train.value_counts()

Churn
0    4130
1    1504
Name: count, dtype: int64

In [ ]:
##voting classifier
voting_clf=VotingClassifier(estimators=[
    ('GB',GradientBoostingClassifier()),
    ('AB',AdaBoostClassifier()),
    ('LR',LogisticRegression()),
    ('SVM',SVC())
    ])

In [34]:
from sklearn.base import BaseEstimator, TransformerMixin
# Custom label encoder wrapper
class PretrainedLabelEncoderWrapper(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.encoders = {}

    def fit(self, X, y=None):
        for col in X.columns:
            le = LabelEncoder()
            le.fit(X[col])
            self.encoders[col] = le
        return self

    def transform(self, X):
        X_encoded = X.copy()
        for col in X.columns:
            le = self.encoders[col]
            X_encoded[col] = le.transform(X[col])
        return X_encoded

    def inverse_transform(self, X):
        X_decoded = X.copy()
        for col in X.columns:
            le = self.encoders[col]
            X_decoded[col] = le.inverse_transform(X[col])
        return X_decoded

In [ ]:
from sklearn.compose import ColumnTransformer
from imblearn.pipeline import Pipeline
from sklearn.preprocessing import PowerTransformer
import pickle
# Define columns
transformed_cols = ['MonthlyCharges', 'TotalCharges', 'tenure']
categorical_features = ['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
                        'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies','Contract', 'PaymentMethod']
label_cols = ['gender', 'Partner', 'Dependents', 'PhoneService', 'PaperlessBilling']


# Define transformers
numeric_transformer = Pipeline([
    ('power', PowerTransformer(method='yeo-johnson'))
])

categorical_transformer = Pipeline([
     ('encoder', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
 ])

label_encoder_transformer = Pipeline([
    ('label', PretrainedLabelEncoderWrapper())
])

# Build preprocessor
preprocessor = ColumnTransformer([
    ('num', numeric_transformer, transformed_cols),
      ('cat', categorical_transformer, categorical_features),
     ('labels_cols', label_encoder_transformer, label_cols)
],remainder='passthrough',sparse_threshold=0.0)

#Transform training independent features
X_train_processed = preprocessor.fit_transform(X_train)

# Apply SMOTE to the transformed training set(X_train and y_train) to balance the imbalance class
X_resampled, y_resampled = SMOTE(random_state=42).fit_resample(X_train_processed, y_train)

# Train the voting classifier on the resampled data
voting_clf.fit(X_resampled, y_resampled)

inference_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', voting_clf)
])


inference_pipeline.predict()

#saving the preprocessing model and machine learning model for future prediction
with open("VotingClassifiers.pkl","wb") as filesaved:
    pickle.dump(inference_pipeline,filesaved)

In [44]:
##churn
# Sample input
user_inputs = {
    'gender': 'Female',
    'SeniorCitizen': 0,
    'Partner': 'No',
    'Dependents': 'No',
    'tenure': 1,
    'PhoneService': 'Yes',
    'MultipleLines': 'No',
    'InternetService': 'Cable',
    'OnlineSecurity': 'No',
    'OnlineBackup': 'No',
    'DeviceProtection': 'No',
    'TechSupport': 'No',
    'StreamingTV': 'No',
    'StreamingMovies': 'No',
    'Contract': 'Month-to-month',
    'PaperlessBilling': 'No',
    'PaymentMethod': 'Bank Withdrawal',
    'MonthlyCharges': 71.35,
    'TotalCharges': 71.35
}

# Make sure it's wrapped in a list
new_df = pd.DataFrame([user_inputs])
new_df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,No,No,1,Yes,No,Cable,No,No,No,No,No,No,Month-to-month,No,Bank Withdrawal,71.35,71.35

In [46]:
with open("VotingClassifiers.pkl","rb") as loadfile:
    classifier_load=pickle.load(loadfile)

In [47]:
# Predict
predicts_new_df = classifier_load.predict(new_df)
print("Prediction:", predicts_new_df)
if predicts_new_df==0:
    print("Stayed: Not Churned")
else:
    print("Leave: Churned")

Prediction: [1]
Leave: Churned